<div class="row">
    <div class="col-lg-6">
        <button type="button" class="btn btn-block btn-primary" onclick="location.href='@Url.Action("Login", "Usuario")'">
        Entrar no Sistema
        </button>
    </div>
    <div class="col-lg-6">
        <button type="button" class="btn btn-block btn-success">Registrar uma conta</button>
    </div>
</div>