
@{
    ViewData["Title"] = "Index";
}

<h3>Minhas contas</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Saldo</th>
            <th>Ações</th>
        </tr>
    </thead>
    @{
        foreach (var item in (List<ContaModel>)ViewBag.ListaConta)
        {
            <tbody>
                <tr>
                    <td>@item.Nome</td>
                    <td>R$ @item.Saldo?.ToString("N2")</td>
                    <td>
                        <button type="button" class="btn btn-danger" onclick="Excluir(@item.Id.ToString())">Excluir</button>
                        <button type="button" class="btn btn-info">Alterar</button>
                    </td>
                </tr>
            </tbody>
        }
    }
</table>

<button type="button" class="btn btn-block btn-success" onclick="CriarConta()">Criar Conta</button>

<script>

    function CriarConta() {
        window.location.href = "../Conta/CriarConta"
    }

    function Excluir(id) {
        window.location.href = "../Conta/ExcluirConta/" + id;
    }
</script>